body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand img {
    height: 90px;
    width: auto;
}



.footer {
    background-color: #343a40;
    color: #fff;
}

.footer a {
    color: #fff;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 15px;
}

.horizontal-list {
    list-style: none;
    padding: 0;
}

.horizontal-list li {
    display: inline;
    margin-right: 15px;
}
