* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B1212;
}

/* style for header */
img {
    height: 90px;
    width: 330px;
}

/* style for carousel */


.carousel-item img {
    width: 550px;
    height: 750px;
    object-fit: cover;
}

/* Custom CSS for the footer */
footer {
    background-color: #1B1212; /* Change the background color to your desired color */
    color: #fff; /* Change the text color to your desired color */
    padding: 10px 0; /* Adjust the padding to change the height of the footer */
    text-align: center;
}
