* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B1212;
}

/* style for header */
img {
    height: 90px;
    width: 330px;
}   

/* style for carousel */
.carousel-item {
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}

.carousel-item img {
    max-width: 1500px;
    max-height: 950px; 
    width: auto;
    height: auto;
    object-fit: scaledown;
    display: block;
    margin: 0 auto;
}

/* style for About Section */
.container.about {
    text-align: center;
    color: aliceblue;
}
  
/*  Style for H1 */
.container.about h1 {
    margin: 20px;
    padding-bottom: 5%;
}

.image{
width: 600px;
height: 400px;
}

/* Media query for screens larger than a specified width (e.g., 768px) */
@media (min-width: 768px) {
    /* Ensure that each column maintains a minimum width */
    .container.text-center .col {
      min-width: 200px; /* Adjust the minimum width as needed */
    }
  
    /* Change to a 2-column layout on larger screens */
    .container.text-center .row {
      grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns on larger screens */
    }
  }
  
  /* Media query for screens larger than a specified width (e.g., 992px) */
  @media (min-width: 992px) {
    /* Further adjust the minimum width for each column */
    .container.text-center .col {
      min-width: 300px; /* Adjust the minimum width as needed */
    }
  
    /* Change to a 4-column layout on even larger screens */
    .container.text-center .row {
      grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns on even larger screens */
    }
  }


footer {
    background-color: #1B1212;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
