.accordion .card {
    border: none;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.accordion .card-header {
    background-color: #f8f9fa;
    border: none;
}

.accordion .card-body {
    background-color: #ffffff;
}

.accordion .btn-link {
    color: #333;
    font-weight: bold;
}

.accordion .btn-link:hover {
    text-decoration: none;
    color: #007bff;
}

.accordion .btn-link:focus {
    text-decoration: none;
}