* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B1212;
}

/* style for header */
img {
    height: 90px;
    width: 330px;
}   

/* style for carousel */
.carousel-item {
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}

.carousel-item img {
    max-width: 1500px;
    max-height: 950px; 
    width: auto;
    height: auto;
    object-fit: scaledown;
    display: block;
    margin: 0 auto;
}

/* style for About Section */
.container.about {
    text-align: center;
    color: aliceblue;
}
  
/*  Style for H1 */
.container.about h1 {
    margin: 20px;
    padding-bottom: 5%;
}

.image{
width: 600px;
height: 400px;
}

/* Style for the footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  /* Style for the footer container */
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* Style for quick links and social media sections */
  .quick-links,
  .social-media {
    flex: 1;
    margin: 10px;
  }
  
  /* Style for the quick links list */
  .quick-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quick-links ul li {
    margin-bottom: 10px;
  }
  
  .quick-links a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Style for social media icons */
  .social-media ul {
    list-style-type: none;
    padding: 0;
  }
  
  .social-media ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  
  /* Style for Font Awesome icons */
  .fa-facebook:before {
    content: "\f09a"; /* Facebook icon code */
  }
  
  .fa-twitter:before {
    content: "\f099"; /* Twitter icon code */
  }
  
  .fa-instagram:before {
    content: "\f16d"; /* Instagram icon code */
  }